---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
---

<Layout>
	<main class="min-h-screen bg-background">
		<Header/>
		<Hero/>
	</main>
</Layout>
