---
 import { cn } from "@/lib/utils"

 const { 
    className = "",
    variant = ""
 } = Astro.props;

---

<button class={cn(
   "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-xs transition-all disabled:pointer-events-none disabled:opacity-50 outline-none p-2 cursor-pointer hover:opacity-90",
   variant === "ghost" && "hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50",
   variant === "outline" && "border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50",
   className
)}>
  <slot/>
</button>