<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Transforme sua clínica odontológica com a inteligência artificial da Olivia. Reative pacientes inativos e aumente sua receita."
		/>
		<title>Olivia - IA que Reativa Pacientes Inativos</title>
	</head>
	<body>
		<slot />
	</body>
</html>
